{% extends "paginas/modelo.html" %}

{% load static %}

{% block conteudo %}

<h3>Bem Vindos ao sistema</h3>

{% if not request.user.is_authenticated %}
    <p>
        Para acessar o sistema, faça o login.
    </p>
    <p>
        <a href="{% url 'login' %}" class="btn btn-success">Login</a>
    </p>

{% else %}

    <p>
        Olá, {{ request.user.first_name }}!
    </p>

    <h4>Minhas estatísticas</h4>
    <ul>
        <li>Total de pedidos: {{ pedidos }}</li>
    </ul>

    <hr>

    <h3>Lista de pedidos pendentes entre {{data_inicial}} e {{data_final}}</h3>

    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Cliente</th>
                <th>Valor total</th>
                <th>Data Entrega</th>
                <th>Opções</th>
            </tr>
    
            {% for object in pedidos_pendentes %}
    
            <tr>
                <td>{{ object.nome }}</td>
                <td>{{ object.cliente }}</td>
                <td>{{ object.valor_total }}</td>
                <td>{{ object.data_entrega }}</td>
                <td>
                    <a href="{% url 'atualizar-pedido' object.id %}" class="btn btn-warning btn-sm"><i
                            class="bi bi-pencil"></i></a>
                    <a href="{% url 'excluir-pedido' object.id %}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i>
                </td>
            </tr>
    
            {% empty %}
            <tr>
                <td colspan="3">Nenhum registro encontrado</td>
            </tr>
    
            {% endfor %}
        </table>
    </div>

{% endif %}

{% endblock %}