{% extends "paginas/modelo.html" %}
{% load static %}

{% block conteudo %}

<h3>Sobre o Sistema</h3>
<p>Meu nome é Wesley Castilho</p>
<p>Contato: wesleyguilhermecastilho@gmail.com</p>

<p>O sistema é voltado para a gestão de pedidos de uma confeitaria. Ele permite que o pessoal da confeitaria gerencie categorias de produtos, cadastre clientes, 
  insira novos produtos e crie pedidos associando esses produtos a clientes. O sistema também possui funcionalidades para calcular o valor total do pedido, atualizar o status do pedido e 
  visualizar relatórios de vendas. Abaixo estão representações gráficas das funcionalidades e da estrutura do sistema.</p>

<h4>Diagrama de Classes</h4>
<img src="{% static 'img/diagrama_classes.png' %}" alt="Diagrama de Classes do Sistema">

<h4>Diagrama de Casos de Uso</h4>
<img src="{% static 'img/diagrama_casos_uso.png' %}" alt="Diagrama de Casos de Uso do Sistema">

{% endblock %}
